footer
{
    width: 100%;
    min-height: 70px;
    background-color: rgb(23,23,23);
    display: flex;
    flex-direction: column;
    color: rgb(136,157,149);
    font-size: 0.85em;
}

footer p
{
    border-bottom: 1px solid rgb(136,157,149);
    height: 35px;
    padding: 0 15px;
    display: flex;
    align-items: center;
}

footer nav
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 15px;
    gap: 10px;
}

footer nav ul
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    flex-wrap: wrap;
}

footer nav div:nth-child(1)
{
    margin: 0 auto;
    order: 2;
}

footer nav div:nth-child(2)
{
    order: 1;
}

footer nav div:nth-child(3)
{
    order: 3;
}

footer li
{
    margin: 0 10px;
}

footer li a 
{
    width: 100%;
}

footer a 
{
    color: rgb(136,157,149);
    
}